$logo-size: 50px;
$logo-padding: 20px;
$toggler-size: 20px;

.main_nav {

  width: 100%;

  &--nav {
    display: none;
  }

  &--list {
    list-style-type: none;
  }

  &--item {
    border-top: 1px solid #ebebeb;
    text-align: center;
    line-height: 50px;
  }

  &--link {
    display: block;
    text-transform: uppercase;
    color: #000;
  }

  &--toggler {
    position: absolute;
    width: $toggler-size;
    height: $toggler-size;
    padding: 10px;
    right: 20px;
    top: calc(#{$logo-padding} + 0.5 * #{$logo-size} - 0.5 * #{$toggler-size});
    //transform: translateY(-50%);
    background-image: url(../img/icon-burger.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 1200px) {
    &--nav {
      display: block;
    }

    &--toggler {
      display: none;
    }

    &--item {
      display: inline-block;
      border-top: none;
      line-height: inherit;
    }
  }
}
