// ПЕРЕМЕННЫЕ


// Ширины

@screen-xs:                0px;
@screen-sm:                480px;
@screen-md:                768px;
@screen-lg:                992px;
@screen-xl:                1200px;
@screen-xxl:               1920px;

@container-sm:             100%;
@container-md:             100%;
@container-lg:             @srceen-lg - 30;
@container-xl:             @srceen-xl - 30;
@container-xxl:            @srceen-xxl - 30;



// Базовая типографика

@font-family:              -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
@font-family--serif:       Georgia, 'Times New Roman', Times, serif;
@font-family--monospace:   Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
@font-family--headings:    @font-family;

@font-size:                1.6rem;
@font-size--h1:            2.250em;
@font-size--h2:            1.875em;
@font-size--h3:            1.500em;
@font-size--h4:            1.250em;
@font-size--h5:            1em;
@font-size--h6:            1em;
@font-size--small:         0.75em;
@font-size--small_percent: 75%;

@line-height:              1.375em;


// Шрифты

@ptserifcap:               'PT Serif Caption';
@ptsanscap:                'PT Sans Caption';
@firasans:                 'Fira Sans', sans-serif;
@ptserif:                  'PT Serif', serif;
@opensans:                 'Open Sans', sans-serif;
