.page_header {
  border: 1px solid #ebebeb;

  &--wrap_left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &--wrap_right {
    display: none;
  }

  &--logo {
    max-width: 200px;
    margin: 20px 0;
  }

  @media (min-width: 1200px) {

    &--inner {
      @include container();
      display: flex;
      justify-content: space-around;
      //align-items: center;
    }

    &--wrap_left {
      flex-direction: row;
      margin-right: 10px;
    }

    &--wrap_right {
      display: flex;
    }

    &--contacts {
      margin: 0 10px;
      width: 300px;
    }

    &--phone_link {
      display: inline-block;
      font-family: 'PT Serif Caption', serif;
      font-size: 18px;
      font-weight: bold;
      color: #191919;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .5px;
      margin: 20px 0 10px;

    }

    &--address {
      display: block;
      font-family: 'Fira Sans', sans-serif;
      font-size: 14px;
      color: #191919;
      letter-spacing: .5px;
      margin-bottom: 15px;
    }
  }
}
