.page_header {
  //background-color: #ccc;
  //padding-top: 20px;
  //padding-bottom: 20px;
  border: 1px solid #ebebeb;

  &--inner {
    //background-color: #ffe;
  }

  &--wrap_left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &--wrap_right {
    display: none;
  }

  &--logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: 1200px) {

    &--inner {
      @include container();
      display: flex;
      justify-content: space-between;
    }

    &--wrap_left {
      flex-direction: row;
    }

    &--wrap_right {
      display: flex;
    }
  }
}
